<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
    <!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->
    <div class="logo">
        <a href="/index" class="simple-text">
            Mobile Shop
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            {{#each category}}
                <li class="active">
                    <a href="/category/{{this.id}}">
                        <i class="material-icons">dashboard</i>                        
                        <p>{{this.name}}</p>
                    </a>
                </li>               
            {{/each}}            
        </ul>
    </div>
</div>